*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

button,
label {
  cursor: pointer;
}

input {
  font: inherit;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.box {
  width: 50px;
  height: 50px;
  background-color: red;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.car-search {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.car-group {
  margin-right: 10px;
}

.car-input,
.car-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.car-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.car-button:hover {
  background-color: #0056b3;
}



.car-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.car-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.car-image {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

.car-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.car-type {
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
}

.car-price {
  font-size: 20px;
  color: #ff6600;
  font-weight: bold;
}
